form{
    padding: 1em;
    margin: 1em;
    width: 300px;
}
.input-group{
    margin: 0.5em;
}
#retirer{
    margin-left: 0.3em;
}
#buttonControl{
    text-align: right;
}
.input-group-text {
    background-color: #b0d0f0;
}